
<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>حذف  جوک</title>
</head>
<body>
  <form action="/jokes/<%= joke.id %>?_method=DELETE" method="POST">
    <label>کتگوری:</label><br>
    <input type="text" name="category" value="<%= joke.category %>" required><br><br>

    <label>متن فارسی:</label><br>
    <textarea name="textDari" required><%= joke.textDari %></textarea><br><br>
  </form>
  <br>
  <a href="/jokes"><button>بازگشت به لیست</button></a>
</body>
</html>
